################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FileParserTests/obj/Debug
/FileParser/obj/Debug
/FileParser/bin/Debug/FileParser.vshost.exe.manifest
/FileParser/bin/Debug/FileParser.vshost.exe.config
/FileParser/bin/Debug/FileParser.vshost.exe
